*, *::before, *::after {
  box-sizing: border-box;
}
body, h1, h2, h3, p, ul, li, figure, blockquote, cite {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
